
!.env.example
!.vscode/extensions.json
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.ai/
.cache
.docs/
.docusaurus
.DS_Store
.dynamodb/
.env
.env.*
.eslintcache
.firebase/
.fusebox/
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.output
.parcel-cache
.pnp.*
.repomixignore
.serverless/
.stylelintcache
.svelte-kit/
.temp
.tern-port
.vite/
.vscode-test
.vscode/*
.vuepress/dist
.yarn-integrity
.yarn/*
*.lcov
*.local
*.log
*.njsproj
*.ntvs*
*.pid
*.pid.lock
*.seed
*.sln
*.suo
*.sw?
*.tgz
*.tsbuildinfo
**/.vitepress/cache
**/.vitepress/dist
bower_components
build/Release
coverage
dist
dist-ssr
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules
npm-debug.log*
out
opencode.exe
pids
pnpm-debug.log*
repomix.config.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
web_modules/
yarn-debug.log*
yarn-error.log*
